@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

*{
  margin:0px;
  padding: 0px;
}
body{
  margin: 0;
  background: url(piggybankBackground.jpg), #55d6aa ;
	background-size: contain;
  background-position: bottom;
  background-blend-mode: overlay;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

li{
  padding:20px;
  /* background: white; */
  font-family: cambria;
  border-radius: 10px;
  border-color: black;
  display: block;

}
li :hover a{
  background: black;

}
a{
  text-decoration: none;
  color: white;
}
h2{
  font-family: Bebas Neue;
  /* background: White; */
  color: black;
  margin: 10px 10px 0 10px;
}

h1{
  font-family: Libre Baskerville;
  color: black;
}

p{
  color: black;

}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  /* margin-left: 70px; */
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

img{
  width: 55%;
  border-style: solid;
  border-color: #33FFDA;
  border-width: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 80px;
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

section {
  background: rgba(255,255,255,.4);
  margin-top: 20px;
  width: 80%;
  margin: auto;

}
